# Basic Python

This notebook introduces basic Python concepts and syntax including data types, variable assignment and common built-in functionality.

## Data Types

Intro to intergers, strings, floats, and Boolean values.

In [ ]:
# Intergers
# Passing 1 returns a 1
1

In [ ]:
# Check type of object
type(1)

In [ ]:
# Assignment
# No result is returned
# But a is not assigned the value of 1
a = 1

In [ ]:
# Calling `a` returns 1
a

In [ ]:
# Check type of a
type(a)

In [ ]:
# Can reference a variable multiple times
# Returns 2
a + a

In [ ]:
# `=` is used for assignment
# '==' is used for evaluation/comparison
a == 1

In [ ]:
# b is assigned to a string value of 1
b ='1'
b

In [ ]:
# Check type of b
type(b)

In [ ]:
# Operations often work differently on strings
# So checking data type can help debug errors
b + b

In [ ]:
# Assign and return c
c = 1.0
c

In [ ]:
# Check type of c
type(c)

In [ ]:
# Check float addition
c + c

In [ ]:
# Compare with adding an interger and a float
a + c

In [ ]:
# Verify a is equal to a
# Returns Boolean
a == a

In [ ]:
# Very a (int) not equal to b (str)
# Returns Boolean
a == b

In [ ]:
# Int a is evaluated as eqaul to float c
a == c

## Data Type Recap

The cells above introduces intergers (a), stings (b), floats (c), and Boolean True/False response when comparing a, b, and c.

Data manipulation and analysis often requires a specific form of input or oupt. Using the built-in `type` function can verify data type.

## Math

Python is often used for data science and machine learning. Python contains a number of packages to deal with calculations.

Shown here are the most simpliest methods for basic computation.

In [ ]:
# Basic addition example
6+6

In [ ]:
# Basic subtraction example
6-6

In [ ]:
# Basic multiplication example
6*6

In [ ]:
# Basic exponent example
6**6

In [ ]:
# Basic division example
3/6

## String Manipulation

String has unique options that do not always match numerical operations. Strings are indicated by the use of single or double qoutes, or triple quotes if multiple lines.

In [ ]:
# Create a string
"This is a string!"

In [ ]:
# Assign a string to a variable
my_str = "This is a string!"

In [ ]:
# String indexing starts at 0 in Python
my_str[0]

In [ ]:
# String indexing can also be reversed
my_str[-1]

In [ ]:
# Ranges can be selected with a :
my_str[10:16]

In [ ]:
# A step can also be specified as the third parameter in the brackets.
my_str[10:16:2]

In [ ]:
# Strings can be concated
# NOTE: it is the same symbol for addition above
another_str = ' It lives in Python!'
my_str + another_str

## Lists

Lists are a very common structure in Python for organizing similar items and creating a series to iterate over.

Lists are set up using `[]` with a comma seperating each value.

In [ ]:
# Lists can contain multiple data types (including more lists!)
my_list = [1, 'something', 3, [42, 27]]

In [ ]:
# Show the list
my_list

In [ ]:
# Index the list
my_list[3]

In [ ]:
# Iterate over the list
for x in my_list:
    print(x)

In [ ]:
# Lists are also mutable
# This allows modification of values inside it
my_list2 = ['a', 'b', 'c', 'd']

In [ ]:
# Create a new list
my_list2

In [ ]:
# Locate item to change
my_list2[-2]

In [ ]:
# Change value of that item in list
my_list2[-2] = 'cat'

In [ ]:
# Check update worked
my_list2

## Dictionaries

A dictionary is a mutable, unordered collection of items. Each item is a key-value pair. Dictionaries are indexed by keys, which can be any immutable type such as strings, numbers, or tuples.

In [ ]:
# Create a dictionary
my_dict = {"Value_1": 1, "Value_2":2}

In [ ]:
# show dictionary
my_dict

In [ ]:
# Access a value using a key
my_dict['Value_1']

In [ ]:
# Iterate over a dictionary
for key, value in my_dict.items():
    print(key)
    print(value)

In [ ]:
# Adding a new key-value pair
my_dict['Value_3'] = '3'

In [ ]:
# Iterate over a dictionary
for key, value in my_dict.items():
    print(key)
    print(value)

In [ ]:
# Updating an existing key-value pair
my_dict['Value_3'] = 50000

In [ ]:
# Iterate over a dictionary
for key, value in my_dict.items():
    print(key)
    print(value)

## Booleans

Booleans are `True` and `False` keywords in Python. Booleans are often used to structure workflows by checking if a certain condition has been met.

For example, a spam filter in Python should only run when new emails come in. In which case something as this may be used:

```
if has_new_email == True:
    for email in new:
        run_spam_check(email)
else:
    sleep(15)
```

In [ ]:
# Assign two vars
my_bool = True
my_other_bool = False

In [ ]:
# Show value
my_bool

In [ ]:
# Show value
my_other_bool

In [ ]:
# Note bools are special values and not just strings
my_bool=='True'

In [ ]:
# Use bool for flow
if my_bool:
    print('This works!')

In [ ]:
# Use bool for flow
if my_other_bool:
    print('This works too!')

In [ ]:
# Some functions evaluate bools
print(any([True, True, True]))
print('\n')

print(any([False, True, False]))
print('\n')

print(all([True, True, True]))
print('\n')

print(all([False, True, False]))
print('\n')

## Assignment, Comparisons, and Evaluation

### Assignment

Variable setting (or assignment) is the process of assigning a value to a variable. This is done using the `=` operator. Several examples have already been shown in this notebook. A final note of caution, data types may be mutable to immutable. Immutable objects can be altered once they are set.

### Evaluation/Comparison

Evaluation (or comparison) involves checking the value of a variable against another value. This is typically done using comparison operators such as `==`, `!=`, `<`, `>`, `<=`, `>=`.

A few initial examples with use numeric values and the latter ones reference existing variables. If you are unsure about an old variable, enter it in a new cell by itself and run that cell. The output should refresh you of its value.

In [ ]:
# Check equal to
3 == 3

In [ ]:
# Check not equal to
1 != 3

In [ ]:
# Check less than
5 < 3

In [ ]:
# Check greater than
5 > 3

In [ ]:
# Check less than or equal to
3 <= 3

In [ ]:
# Check greater than or equal to

In [ ]:
6>=6.01

In [ ]:
# Evaluate if my_bool is equal to True
my_bool == True

In [ ]:
# Evaluate if my_other_bool is equal to True
my_other_bool == True

In [ ]:
# Check if s in my_str
's' in my_str

In [ ]:
# Check if x in my_str
'x' in my_str

In [ ]:
# Use in to check if a list contains an element
'something' in my_list

In [ ]:
# Use in to check if a list contains an element
'something else' in my_list

## Built-in Functions

Built-in functions are available in the current Python version and very commonly used. Above, we already used type, any, and all. Below are a few more quick examples of important functions.

Some of the most common functions are:
- **print:** returns value or description of object
- **type:** returns the datatype of the object
- **any:** checks if any passed objects evaluate to `True`
- **all:** checks if all passed objects evaluate to `True`
- **help:** returns documentation of passed object
- **isinstance:** returns `True` if type of arg1 matches arg2
- **len:** returns the length of an object

To speed up examples, I will use a list with multiple value types and print the rest of each for all items in the list.

In [ ]:
a = 1
b = 'some string in my pocket'
c = 5.000034
d = True

In [ ]:
test_list = [a, b, c, d]

In [ ]:
for i in test_list:
    print(i)

In [ ]:
for i in test_list:
    print(type(i))

In [ ]:
# Any and all will evaluate the whole passed array
print(any(test_list))
print(all(test_list))

In [ ]:
help(isinstance)

In [ ]:
print(isinstance(1, int))
print(isinstance(1, str))
print(isinstance('1', int))
print(isinstance('1', str))

In [ ]:
# Print will error on ints
# Typically most useful list, dicts, and strings
print(len(test_list))
print(len(b))