# Iris Classification

## Train-test Split

This notebook will use the data generated from the previous notebook and create a train-test split of the data.

The split data will be saved to csv files in the data folder.

In [1]:
import os 
import pandas as pd

In [2]:
os.getcwd()

'/Users/dsl/Documents/GitHub/PythonBasics/ClassificationExamples/iris/notebooks'

In [3]:
data_file_path = os.path.join('..', 'data', 'data.csv')

In [4]:
df = pd.read_csv(data_file_path)

In [5]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
df.shape

(150, 5)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
y = df['target']
X = df.drop(columns=['target'])

In [9]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [10]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [11]:
print(X.shape, y.shape, sep='\n')

(150, 4)
(150,)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify=y)

In [13]:
dfs = [X_train, X_test, y_train, y_test]
csv_names = ['X_train.csv', 'X_test.csv', 'y_train.csv', 'y_test.csv']

In [14]:
data_path = os.path.join('..', 'data')
for df, name in zip(dfs, csv_names):
    out_path = os.path.join(data_path, name)
    df.to_csv(out_path, index=False)